{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block body %}
<div id="templatemo_site_title_bar_wrapper">

    <div id="templatemo_site_title_bar">
        <div id="site_title">
            <h1>
            <a href="https://www.pmwebsolutions.rf.gd" target="_parent">PM Web Solutions 
            <span>Bridging Worlds</span></a>
            </h1>
        </div>
        
        <ul id="top_menu">
            <li class="first"><a href="/">Home</a></li>
			<li><a href="/about">About Us</a></li>
            <li><a href="/solutions">Solutions</a></li>
			<li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/contact">Request a Quote</a></li>
        </ul>
    
    </div> <!-- end of site title bar -->
</div> <!-- end of site title bar wrapper -->



<div id="templatemo_content">

 <div id="main_column">
	<div class="section_w560">
        <h2>About PM Web Solutions </h2>
            <div class="post-body-inner"><p>PM Web Solutions is reckoned among the best Website Designing company in Kenya. We offer creative, professional and skilled web page design in Kenya. As a creative web design company in Kenya, our skilled professionals can deliver small business web design as well as web design for larger business requirements. Our experienced and talented web designers are capable of designing unique themes and designs as per requirements.</p>
<p>PM Web Solutions is a growing company in web development area. Nowadays every business needs wings to fly. As market and competition increase day by day your business will need a perfect way for promotion and growth. PM Web Solutions provides WINGS to your business by developing static and dynamic websites. We develop all types of websites.</p>


</div>
 <div class="cleaner"></div>
 </div>
 
 </div> <!-- end of main column -->
            
        

            <div id="side_column">
            
                <div class="side_column_box">
                    <h2>Feed</h2>
                    
                    <div class="news_section">
                    	<img class="image_wrapper" src="{{ url_for('static', filename='images/templatemo_image_02.jpg') }}" alt="image" />
                        
						<ul>
							<li><a href="/web_design_services">Best web designers in kenya</a></li>
							<li><a href="/">Cheapest web designers in Kenya</a></li>
							<li><a href="/seo_services">SEO Services in Kenya</a></li>
							<p>&nbsp;</p>
							<li><a href="/e_commerce_dev">Ecommerce website design in kenya</a></li>
							<li><a href="/contact">Website creation in kenya</a></li>
							<li><a href="/">website maintenance services in kenya. </a></li>
							<li><a href="/advantages-of-having-online-shop-over-your-traditional-retail">most affordable online shop in kenya</a></li>
							<p>&nbsp;</p>
							<li><a href="/">web design charges in kenya</a></li>
							<li><a href="/5-must-have-features-of-a-modern-website-design">Latest technology trends in web development</a></li>
							<li><a href="/services">Best web solutions in kenya</a></li>
							<li><a href="/tips-for-choosing-a-web-designer-in-kenya">Best web design company in kenya</a></li>
							<p>&nbsp;</p>
							<li><a href="/school-management-system">Online School Management System in Kenya</a></li>
							<li><a href="/document-management-system">Online Document Management System in kenya</a></li>
							<li><a href="/project-management-system">Online Project Management System in kenya</a></li>
							<li><a href="/property-management-system">Property Management System in Kenya</a></li>
							<li><a href="/human-resource-management-system">Online HRM System in kenya</a></li>
							<li><a href="/inventory-management-system">Online Inventory Management System in kenya</a></li>
						</ul>
                    </div>
                    
                    
                </div>
                </div> <!-- end of side column 

                -->


	<div class="cleaner"></div>
    
</div> <!-- end of content -->
{% endblock %}
