<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PM Web Solutions</title>
<meta name="keywords" content="PM Web Solutions, Web Development, Smart Solutions, PHP, SQL, CSS, HTML" />
<meta name="description" content="PM Web Solutions is a company offering web development and web based smart solutions" />
<link rel="shortcut icon" href="images/pm_web_logo.png" title="PM Web Solutions">
<link href="{{ url_for('static', filename='css/templatemo_style.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/css/s3slider.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/s3Slider.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#slider').s3Slider({
            timeOut: 3000
        });
    });
</script>

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>
{% block body %}
{% endblock %}
<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">
    
        <ul class="footer_menu">
            <li class="first"><a href="/">Home</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/services">Our Services</a></li>     
            <li><a href="/contact">Request a Quote</a></li>
            <li class="last_menu"><a href="/contact">Contact Us</a></li>
        </ul>

        Copyright © 2022 <a href="/">PM Web Solutions</a></div> 
	<!-- end of footer -->
    
</div> <!-- end of footer wrapper -->
</body>
</html>
