{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block body %}
<div id="templatemo_site_title_bar_wrapper">

    <div id="templatemo_site_title_bar">
        <div id="site_title">
            <h1>
            <a href="https://www.pmwebsolutions.rf.gd" target="_parent">PM Web Solutions 
            <span>Bridging Worlds</span></a>
            </h1>
        </div>
        
        <ul id="top_menu">
            <li class="first"><a href="/">Home</a></li>
			<li><a href="/about">About Us</a></li>
            <li><a href="/solutions">Solutions</a></li>
			<li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/contact">Request a Quote</a></li>
        </ul>
    
    </div> <!-- end of site title bar -->
</div> <!-- end of site title bar wrapper -->



<div id="templatemo_content">

 <div id="main_column">
            
                <div class="section_w560">
                    <h2>Contact Us</h2>
                    
                     <p>Our reputation as one of the best tech companies in Kenya &amp; East Africa comes from providing cross-browser and cross-device compatibility software designs driven by mobile responsiveness – all brought together.</p><p>We believe, we can collaborate to help you run your business even more effectively through cutting-edge, smart, and simplified software solutions for business growth.</p>
                    
                <div class="cleaner"></div>
                </div>
                
                <div class="cleaner_h50"></div>
                
<div class="section_w560">
                <ul class="elementor-icon-list-items">
                            <li class="elementor-icon-list-item">
                                <span class="elementor-icon-list-icon">
								<i aria-hidden="true" class="glyphicon glyphicon-earphone"></i></span>
                                <strong> Telephone:</strong><a href="tel:+254741790941">+254714108815</a> or <a href="tel:+254713008927">+254713008927</a>
                            </li>
                            <li class="elementor-icon-list-item">
                                <span class="elementor-icon-list-icon">
								<i aria-hidden="true" class="glyphicon glyphicon-envelope"></i></span>
								<strong> Email:</strong><a href="mailto:pmwebsolutions01@gmail.com">info@pmwebsolutions.rf.gd</a>
							</li>
                </ul>
				<div><style>#social
{
	height:33px;
}
img {
    width: 50px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}</style>
				<p>&nbsp;</p>
						<p>Follow Us on Our Social Media Pages</p>
						<a href="https://api.whatsapp.com/send?phone=254714108815&amp;text=Hello%20PM%20Web%20Solutions.%20I%20need%20your%20services" class="fa fa-whatsapp"></a>
						<a href="https://facebook.com/pmwebsolutions/"><img src="{{ url_for('static', filename='social_media_images/facebook.png') }}" id=social/></a>
						<a href="https://twitter.com/pmwebsolutions/"><img src="{{ url_for('static', filename='social_media_images/twitter.png') }}" id=social/></a>
						<a href="https://www.instagram.com/pmwebsolutions/"><img src="{{ url_for('static', filename='social_media_images/instagram.png') }}" id=social/></a>
						</div>
						                     
                </div>
                
                <div class="cleaner"></div>
            </div> <!-- end of main column -->
            
        

            <div id="side_column">
            
                <div class="side_column_box">			
					<h5>Request a Quote</h5>
						<div class="news_section">
							<form>
								<p><label> Your name<br /><span><input type="text" name="your-name" value="" size="25"></span> </label></p>
								<p><label> Your email<br /><span><input type="email" name="your-email" value="" size="25"></span> </label></p>
								<p><label> Phone number<br /><span><input type="text" name="your-phonenumber" value="" size="25"></span> </label></p>
								<p><label>Which Product do you need<br /><span>
									<select style="color:black">
									<option value=""> Please Select </option>
									<option value="Website development"> Website development </option>
									<option value="School Management System"> School Management System </option>
									<option value="Human Resource Management System"> HR Management System </option>
									<option value="Inventory Management System"> Inventory Management System </option>
									<option value="Property Management System"> Property Management System </option>
									<option value="Project Management System"> Project Management System </option>
									<option value="Document Management System"> Document Management System </option>
									<option value="Other"> Other </option>
									</select></span><br />
								</label></p>
								<p><label> Additional Message<br /><span><textarea name="textarea-459" cols="26" rows="7"></textarea></span></label></p>
								<p><label>Get back to me* through<br /><span><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required"><span class="wpcf7-list-item first"><label><input type="checkbox" name="checkbox-520[]" value="My Phone Number" /><span class="wpcf7-list-item-label">My Phone Number</span></label></span><span class="wpcf7-list-item last"><label><input type="checkbox" name="checkbox-520[]" value="My Email" /><span class="wpcf7-list-item-label">My Email</span></label></span></span></span></p>
								<div id="cid_7" class="form-input-wide" data-layout="full">
									<div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
										<button id="input_7" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit Form</button>
									</div>
								</div>
							</form>

                    </div>
                   </div>
                
                </div> <!-- end of side column 

                -->


	<div class="cleaner"></div>
    
</div> <!-- end of content -->
{% endblock %}
