{% extends "base.html" %}
{% block title %}HR Mgmt System{% endblock %}
{% block body %}

<div id="templatemo_site_title_bar_wrapper">

    <div id="templatemo_site_title_bar">
        <div id="site_title">
            <h1>
           <!-- <img src="images/templatemo_image_01.jpg" alt="banner" style="float: left; margin-left:15px"  width="70" height="55">-->
            <a href="https://www.pmwebsolutions.rf.gd" target="_parent">PM Web Solutions
            <span>Bridging Worlds</span></a>
            </h1>
        </div>
        
        <ul id="top_menu">
            <li class="first"><a href="/">Home</a></li>
			<li><a href="/about-us">About Us</a></li>
            <li><a href="/solutions">Solutions</a></li>
			<li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/contact">Request a Quote</a></li>
        </ul>
    
    </div> <!-- end of site title bar -->
</div> <!-- end of site title bar wrapper -->



<div id="templatemo_content">

 <div id="main_column">
	<div class="section_w560">
        <h2>Human Resource Management System </h2>
            <div class="post-body-inner">
			<p>PM Web Solutions Human Resource Management System is a web-based system designed to transform anycompany's HR department into a paperless department. We have one of the best HR system for startups and corporates as it can also be used as a payroll system. We make it easy and affordable for growing companiesto transition from spreadsheets to a Human Resource Management System(HRMS) that adapts to their dynamic needs.</p>
			<p>This Human Resource Management System allows planning and tracking all types of abscences & reports, view full employee profile, monitor time attendance, KPI tracking, etc. It ensures everyday human resources processes are manageable and easy to access.</p>
			</div>
 <div class="cleaner"></div>
	</div><script type="text/javascript">
    $(document).ready(function() {
        $('#slider').s3Slider({
            timeOut: 2000
        });
    });
</script>
	<div id="slider">
                    <ul id="sliderContent">
                        <li class="sliderImage">
                            <a href="https://www.pmwebsolutions.rf.gd" target="_blank"><img src="{{ url_for('static', filename='images/hrm3.jpg') }}" alt="1" /></a>
                        </li>
						<li class="sliderImage">
                            <a href="https://www.pmwebsolutions.rf.gd" target="_blank"><img src="{{ url_for('static', filename='images/hrm2.jpg') }}" alt="2" /></a>
                        </li>
                        <li class="sliderImage">
                            <a href="https://www.pmwebsolutions.rf.gd" target="_blank"><img src="{{ url_for('static', filename='images/hrm1.jpg') }}" alt="3" /></a>
                            <span class="bottom"><strong>Inventory Management System</strong><br />.</span>
                        </li>
                    </ul>
                    <div class="clear sliderImage"></div>
                </div>
	</div> <!-- end of main column -->
            
        

            <div id="side_column">
            
                <div class="side_column_box">
                    <h2>Feed</h2>
                    
                    <div class="news_section">
                    	<img class="image_wrapper" src="{{ url_for('static', filename='images/templatemo_image_02.jpg') }}" alt="image" />
                        
						<ul>
							<li><a href="/web_design_services">Best Web Designers in kenya</a></li>
							<li><a href="/">Cheapest Web Designers in Kenya</a></li>
							<li><a href="/seo_services">SEO Services in Kenya</a></li>
							<p>&nbsp;</p>
							<li><a href="/e-commerce_dev">Ecommerce Website Design in Kenya</a></li>
							<li><a href="/contact">Website Creation in Kenya</a></li>
							<li><a href="/">Website Maintenance Services in Kenya. </a></li>
							<li><a href="/advantages-of-having-online-shop-over-your-traditional-retail">Most Affordable Online Shop in Kenya</a></li>
							<p>&nbsp;</p>
							<li><a href="/">Web Design Charges in Kenya</a></li>
							<li><a href="/5-must-have-features-of-a-modern-website-design">Latest Technology Trends in Web Development</a></li>
							<li><a href="/services">Best Web Solutions in Kenya</a></li>
							<li><a href="/tips-for-choosing-a-web-designer-in-kenya">Best Web Design Company in Kenya</a></li>
							<p>&nbsp;</p>
							<li><a href="/school-management-system">School Management System kenya in Kenya</a></li>
							<li><a href="/document-management-system">Document Management System in Kenya</a></li>
							<li><a href="/project-management-system">Project Management System in Kenya</a></li>
							<li><a href="/property-management-system">Property Management System in Kenya</a></li>
							<li><a href="/human-resource-management-system">Human Resource Management System in Kenya</a></li>
							<li><a href="/inventory-management-system">Inventory Management System in Kenya</a></li>
						</ul>
                    </div>
                    
                    
                </div>
                </div> <!-- end of side column 

                -->


	<div class="cleaner"></div>
    
</div> <!-- end of content -->
{% endblock %}